*{
    font-family: 'Montserrat', sans-serif;
}
body{
    background: url(../images/background/header_background.png) no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
}

.nav-link, .navbar-brand{
    font-weight: 600 !important;
    font-size: 20px !important;
}