*{
    font-family: 'Montserrat', sans-serif;
}
body{
    background: url(../images/background/header_background.png) no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
}
@media screen and (max-width: 380px){
    .profile_image{
        width: 90% !important;
        height: auto !important;
    }
}
.home_buttons{
    margin: 0px 20px;
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    border: 1px solid black;
    transition: 0.2s;
}
.home_buttons:hover{
    color: white;
    background-color: black;
    transition: 0.4s;
}